{% extends "base.html" %}

{% block title %}Ficha de {{ sheet.name or 'Personagem' }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h1>{{ sheet.name }}</h1>
            <div class="lead">{{ sheet.class_type.name }} | Nível {{ sheet.level }}</div>
        </div>
        <div class="card-body">
            <div class="row text-center">
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Força</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.strength }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.strength - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Destreza</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.dexterity }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.dexterity - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Constituição</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.constitution }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.constitution - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Inteligência</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.intelligence }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.intelligence - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sabedoria</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.wisdom }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.wisdom - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Carisma</h5>
                            <p class="card-text fs-3">{{ sheet.attributes.charisma }}</p>
                            <p class="card-text"><span class="badge bg-secondary">+{{ ((sheet.attributes.charisma - 10) / 2) | int }}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row mt-4 text-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Classe de Armadura</h5>
                            <p class="card-text fs-3">{{ 10 + ((sheet.attributes.dexterity - 10) / 2) | int }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Pontos de Vida</h5>
                            <p class="card-text fs-3"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Velocidade</h5>
                            <p class="card-text fs-3">9m</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Características & Talentos
                        </div>
                        <div class="card-body">
                            <textarea class="form-control" readonly rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}